<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            display : inline-block;
            border : 1px solid black;
            width:200px;
            height: 200px;
            padding : 10px;
            margin : 20px;
            overflow : hidden;
        }
    </style>
</head>
<body>
    <h1>Responsive Web Design Demo</h1>
    <h2>Resize this responsive page!</h2>
    <span>
        <h2> London</h2>
        <p>London is blah</p>
        <p>It is blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </span>
    <span>
        <h2> London</h2>
        <p>London is blah</p>
        <p>It is blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </span>
    <span>
        <h2> London</h2>
        <p>London is blah</p>
        <p>It is blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </span>
    <span>
        <h2> London</h2>
        <p>London is blah</p>
        <p>It is blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </span>
</body>
</html>