<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>CSS Dimension</title>
	<style>
		#maxH {
			max-height: 50px;
			background-color: greenyellow;
			overflow: auto;
		}
        #minH {
			min-height: 100px;
			background-color: greenyellow;
		}
	</style>
</head>

<body>

	<h1>max-height 속성</h1>
	<p id = "maxH">이 div 요소는 max-height 속성을 50px로 설정했습니다.<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis ligula non ligula iaculis semper at vitae ante. Sed condimentum viverra sollicitudin. Phasellus sodales ipsum nec nulla luctus, in luctus ipsum vestibulum. Pellentesque vehicula lectus a ex tincidunt, eget pellentesque nisl posuere. Vestibulum sed purus sapien. Aenean consequat urna sit amet quam pulvinar, in interdum augue volutpat. Donec ex leo, feugiat vel lorem non, blandit venenatis elit. Vestibulum eu erat eget ante consequat iaculis.
	</p>
    <br><br>
    <h1>min-height 속성</h1>
	<p id = "minH">이 div 요소는 min-height 속성을 100px로 설정했습니다.</p>
</body>
</html>