<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>CSS Dimension</title>
	<style>
		div {
			height: 200px;
			width: 500px;
			border: 2px solid lightsalmon;
		}

        div.width {
			width: 500px;
			border: 2px solid #DAA520;
		}
		div.maxWidth {
			max-width: 500px;
			border: 2px solid #CD5C5C;
		}
        div.minWidth {
			min-width: 500px;
			border: 2px solid #CD5C5C;
		}
	</style>
</head>

<body>

	<h1>height와 width 속성</h1>
	<div>이 div 요소의 높이는 200px이고 너비는 500px입니다.</div>

    <br><hr><br>

    <h1>max-width 속성</h1>
	<div class="width">이 div 요소는 width 속성을 500px로 설정했습니다.</div><br>
	<div class="maxWidth">이 div 요소는 max-width 속성을 500px로 설정했습니다. <br><br>
        설정된 너비 이하로 브라우저의 크기가 줄어들때 해당 요소에 스크롤바를 생성하게 됩니다. 
    </div>
    <div class="minWidth">이 div 요소는 min-width 속성을 500px로 설정했습니다. <br><br>
        min-width 속성이 설정된 요소에 width 속성값을 따로 설정하지 않으면 초기 너비(width)는 100%를 가지게 되고, 웹 브라우저의 크기가 줄어들면 거기에 맞춰서 HTML 요소의 너비가 자동으로 줄어듭니다. <br> 하지만 min-width속성으로 설정된 너비 이하로 줄어들면, HTML 요소의 너비는 더 이상 줄어들지 않고, 수평 스크롤 바를 생성하게 됩니다. 
    </div>
    <p>웹 브라우저의 크기를 줄여서 두 div 요소의 차이를 알아보세요!</p>
</body>

</html>